<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.h4de5ing.okpermission">

    <application>
        <activity
            android:name="com.github.h4de5ing.okpermission.OKPermissionActivity"
            android:theme="@style/TranslucentActivity">

        </activity>
    </application>
</manifest>